@font-face {
  font-family: LatoRgl;
  src: url(../font/Lato-Reg.ttf);
}
@font-face {
  font-family: LatoLit;
  src: url(../font/Lato-Lig.ttf);
}
:root {
  --blue: #4c76ff;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: LatoRgl;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img{
  max-width: 100%;
  border: 0;
}
.fs-3{
  font-size: 3em;
}
body a:hover {
  text-decoration: none;
  color: aquamarine;
}
.header-nav {
  background: url(../images/Layer\ 40.png) no-repeat 0 0;
  background-size: cover;
  height: 700px;
}
nav {
  background: url(../images/Rectangle\ 2.png) no-repeat 0 0;
  background-size: cover;
  height: 50px;
  width: 100%;
}
nav .search {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 50%;
}
nav a {
  color: #dedede;
}
nav ul .active {
  border-top: 1px solid var(--blue);
}
nav ul li {
  line-height: 50px;
}
.showCase {
  height: 650px;
  font-family: LatoLit;
}
.showCase > img {
  width: 240px;
}
.showCase p {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}
.showCase p > span {
  color: var(--blue);
}
.showCase > span {
  font-size: 2em;
}
.showCase .row > * {
  padding-right: 1em;
}
.features {
  background: #efefef;
}
.features h2,
.works h2,
.team h2,
.facts h2,
.discuss h2{
  font-size: 2.5em;
  color: var(--blue);
}
.features .item h3 {
  font-size: 1.2em;
}
.features .item p {
  color: #51636f;
  font-size: 0.8em;
  font-weight: bold;
}
.facts{
  background: url(../images/Rectangle\ 8\ copy.png) no-repeat 0 0;
  background-size: cover;
  height: 448px;
}
.discuss input{
  border: none;
  border-bottom: 1px solid #ced4da;
  opacity: 0.8;
  border-radius: 0;
}
footer .map{
  background: url(../images/Map.png) no-repeat 0 center;
  background-size: cover;
  height: 180px;
}
.footer-main{
  background: #010305;
}
.footer-main p, 
.footer-main a{
  font-size: 0.8em;
  line-height: 2em;
}
.footer-main input{
  width: 100%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
}
.text-gray{
  color: #cccdcd;
}
.nav-bar{
  display: none;
}
.nav-toggle:checked ~ .nav-bar{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  width: 100px;
  text-align: end;
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content: "";
    display: block;
    background: white;
    height: 3px;
    width: 1.5em;
    border-radius: 3px;
    transition: ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform: translateY(3px);
}
.open .hamburger{
    transform: rotate(45deg);
}
.open .hamburger::before{
    opacity: 0;
}
.open .hamburger::after{
    transform: rotate(-90deg) translateX(3px);   
}
@media all and (max-width:767px){
  .apps .col-2{
    width: 12%;
    margin-top: 0.5rem;
  }
  .apps .col-10,
  .features .col-10{
    font-size: 80%;
  }
  .features .col-2{
    width: 12%;
  }
}
@media all and (max-width:575px){
  .facts .image img{
    width: 60%;
  }
  .footer-main a{
    font-size: 0.6em;
  }
}